<?xml version="1.0" encoding="utf-8"?>
<!-- Manifest file merging guide: https://developer.android.google.cn/studio/build/manifest-merge?hl=zh-cn -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hjq.demo">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Notification -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Network related -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- External storage -->
    <!-- Required only if your app needs to access images or photos that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Required only if your app needs to access videos that other apps created. -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <!-- If your app doesn't need to access media files that other apps created, set the "maxSdkVersion" attribute to "28" instead. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />



    <!-- Photo permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Installation permissions -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- Positioning permission (for WebView positioning) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Detailed explanation of Application node: https://developer.android.google.cn/guide/topics/manifest/application-element -->
    <!-- Detailed explanation of Activity node: https://developer.android.google.cn/guide/topics/manifest/activity-element -->
    <application
        android:name=".app.AppApplication"
        android:allowBackup="false"
        android:icon="@mipmap/launcher_ic"
        android:label="${app_name}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/launcher_ic"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,LockedOrientationActivity"
        tools:replace="android:allowBackup,android:supportsRtl"
        tools:targetApi="n">

        <!-- Indicates that partition storage has been adapted currently -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <!-- Adapt to Android 7.0 file intent -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Splash screen page -->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:exported="true">

            <!-- Program entry -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Boot page -->
        <activity
            android:name=".ui.activity.GuideActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- Home -->
        <activity
            android:name=".ui.activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- Login page -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- Registration page -->
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- Crash display (must be in an independent process) -->
        <activity
            android:name=".ui.activity.CrashActivity"
            android:launchMode="singleTop"
            android:process=":crash"
            android:screenOrientation="landscape" />

        <!-- Restart the application (must be in a separate process) -->
        <activity
            android:name=".ui.activity.RestartActivity"
            android:launchMode="singleTop"
            android:process=":restart" />

        <!-- Settings page -->
        <activity
            android:name=".ui.activity.SettingActivity"
            android:label="@string/setting_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- Forgot password -->
        <activity
            android:name=".ui.activity.PasswordForgetActivity"
            android:label="@string/password_forget_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- Reset password -->
        <activity
            android:name=".ui.activity.PasswordResetActivity"
            android:label="@string/password_reset_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- Change mobile phone -->
        <activity
            android:name=".ui.activity.PhoneResetActivity"
            android:label="@string/phone_reset_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- About Us -->
        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/about_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- Personal information -->
        <activity
            android:name=".ui.activity.PersonalDataActivity"
            android:label="@string/personal_data_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- Web browsing -->
        <activity
            android:name=".ui.activity.BrowserActivity"
            android:label="@string/web_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- Photo selection -->
        <activity
            android:name=".ui.activity.CameraActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- Image cropping -->
        <activity
            android:name=".ui.activity.ImageCropActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- Picture selection -->
        <activity
            android:name=".ui.activity.ImageSelectActivity"
            android:label="@string/image_select_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- View larger image -->
        <activity
            android:name=".ui.activity.ImagePreviewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- Play video (adaptive direction) -->
        <activity
            android:name=".ui.activity.VideoPlayActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullScreenTheme" />

        <!-- Play video (portrait orientation) -->
        <activity
            android:name=".ui.activity.VideoPlayActivity$Portrait"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />

        <!-- Play video (horizontal orientation) -->
        <activity
            android:name=".ui.activity.VideoPlayActivity$Landscape"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme" />

        <!-- Select video -->
        <activity
            android:name=".ui.activity.VideoSelectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- Dialog box case -->
        <activity
            android:name=".ui.activity.DialogActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- Status case -->
        <activity
            android:name=".ui.activity.StatusActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- WeChat callback (please note that the package name placed by this Activity must be consistent with the package name of the current project, otherwise the callback will not work normally) -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

    <!-- Android 11 package visibility adaptation: https://www.jianshu.com/p/d1ccd425c4ce -->
    <queries>
        <!-- Photo intent: MediaStore.ACTION_IMAGE_CAPTURE -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Shooting intention: MediaStore.ACTION_VIDEO_CAPTURE -->
        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>

        <!-- Image cropping intention -->
        <intent>
            <action android:name="com.android.camera.action.CROP" />
        </intent>

        <!-- Call intention: Intent.ACTION_DIAL -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>

        <!-- Call up sharing intent: Intent.ACTION_SEND -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>

        <!-- Call up other page intentions: Intent.ACTION_VIEW -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>

        <!-- Call up the system file selector: Intent.ACTION_GET_CONTENT -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

</manifest>